<%- include("header") -%>

<h2>This is an about page.</h2>

<p>afdafja fgdsafv dsagfeafh vsvosergf evds vheuor vcxvvoei df d fgsdgserf vdcvdgv dfsgegfrefgvdf werd wef dsvf fewsf.</p>

<%- include("footer") -%>
